@tailwind base;
@tailwind components;
@tailwind utilities;

// Source page components
@import "@/components/Hero/Hero.scss";
@import "@/components/Intro/Intro.scss";
@import "@/components/StaggerList/StaggerList.scss";

*::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    display: none;
    width: 0px;
    background-color: #fff;
}

*::-webkit-scrollbar-track {
    display: none;
    width: 0;
    height: 0;
}