header.animated-dropdown-header {
    @apply relative w-full p-4 md:p-10 flex flex-col items-end justify-end;

    .menu-container {
        @apply relative w-80 h-96 bg-lime-400 rounded-2xl origin-top-right;
    }

    button.header-menu-btn {
        @apply absolute top-10 right-10 w-24 h-8 outline-none text-lg font-semibold rounded-2xl uppercase overflow-hidden;

        z-index: 10;

        .slider {
            @apply relative w-full h-full;

            .menu {
                @apply w-full h-full relative bg-lime-400 flex items-center;
            }

            .close {
                @apply w-full h-full absolute top-full bg-black text-white flex items-center;
            }

            .perspective-text {
                @apply w-full flex justify-center items-center will-change-transform transition-transform duration-300 ease-in;

                transform-style: preserve-3d;

                span {
                    @apply block transition-all duration-300 ease-in;

                    &:nth-of-type(1) {
                        @apply translate-y-0 opacity-100;
                    }

                    &:nth-of-type(2) {
                        @apply absolute opacity-0;

                        transform: rotateX(-90deg);
                    }
                }
            }
        }

        &:hover, &:focus-visible {
            .perspective-text {
                transform: rotateX(90deg);

                span {
                    &:nth-of-type(1) {
                        @apply -translate-y-full opacity-0;
                    }

                    &:nth-of-type(2) {
                        @apply opacity-100;
                    }
                }
            }
        }

        &:focus-visible {
            @apply brightness-90;
        }
    }
}